* {
    box-sizing: border-box;
    font-family: 'Droid Sans', sans-serif;
    
}

body {
		/* background-image: url("..images/photos/cleaning-1224832-1280x1024.jpg"); */
}
.ws-header {
	height: 15vh;

}

.ws-row {
	background-color: #6D92A0;

	
}
.ws-slogan {
	float: left;
	border: 0px solid red;
	width: 40%;
	
}
.ws-slogan h1 {
	font-size: 2.5vw;
	text-align: center;
	/* color: #022735; */
}
.ws-nav {
	float: left;	
	border: 0px solid grey;
	width: 60%;
}
.ws-nav ul {
	margin: 15px;	

}
.ws-nav ul li {
	display: inline;	
	
}

.ws-nav ul li a {
	text-decoration: none;		
	font-size: 2.5vw;
	padding: 0 5px 0 5px;
	color: #022735; 


}

.ws-nav ul li a:hover {
	text-decoration: none;	
	color: #457485;
}

.ws-row:after {
	content : "";
	display : block;
	clear: both;
}

.ws-sticker {
	background: url("../images/Mister-Fantastic-256.png");
	background-size: 125px 131px;
    position: absolute;
	width: 125px;
	height: 131px;
	margin-left: 80vw;
	margin-top: -100px;
	z-index: 5;


}

.ws-inhalt {
	background-color: black;
}
.ws-gallery {
		padding-top: 10px;		
		width: 80vw;
		margin: auto;
		position: relative; 
		overflow: auto; 
}

.ws-gallery li { 
	list-style: none; 
	height: 70vh;
}

.ws-gallery ul {
	padding: 0;
	margin: 0;
}


.ws-footer {
	padding-top: 10px;
	height: 15vh;
	
}
